@model DentalDrill.CRM.Models.ViewModels.ImportHandpiecesViewModel
@{
    ViewBag.Title = "Import Handpieces";
}

<div class="editor">
    <div class="editor__header">
        <div class="editor__title">
            <h1>Import Handpieces</h1>
        </div>
        <div class="editor__actions">
            <a asp-action="Index" class="editor__action"><span class="fas fa-arrow-left"></span> Back</a>
        </div>
    </div>
    <form asp-action="Handpieces" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="File"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="File" type="file" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="MappingFile"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="MappingFile" type="file" />
                        <span asp-validation-for="MappingFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="TechsMappingFile"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="TechsMappingFile" type="file" />
                        <span asp-validation-for="TechsMappingFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="RatingsMappingFile"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="RatingsMappingFile" type="file" />
                        <span asp-validation-for="RatingsMappingFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-sm-5">
                        <label asp-for="Confirmation"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="Confirmation" />
                        <span asp-validation-for="Confirmation" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>

    @if (Model.ImportedHandpieces != null)
    {
        var index = 1;
        var jobIndex = 1;
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    @*<th>ID</th>*@
                    <th>Type</th>
                    <th>RPM</th>
                    <th>Model & Serial</th>
                    <th>Diagnostic</th>
                    <th>Service</th>
                    <th>Parts</th>
                    <th>Rating</th>
                    <th>Tech</th>
                    <th>Invoiced</th>
                    <th>Back</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.ImportedJobs.OrderBy(x => x.Received).ThenBy(x => x.Client.ClientNo))
                {
                    <tr>
                        <td colspan="13" style="background-color: green">Estimate @(jobIndex++), Created On @group.Received.ToString("dd-MMM-yy") for @group.Client.PrincipalDentist - @group.Client.Name - @group.Client.Suburb</td>
                    </tr>
                    foreach (var item in group.Handpieces)
                    {
                        var style = "";
                        if (item.ClientEntity == null && item.ClientId != null)
                        {
                            style += "background-color: red;";
                        }
                        else if (item.ClientId == null)
                        {
                            style += "background-color: orange;";
                        }
                        <tr style="@style">
                            <td>@(index++)</td>
                            <td>
                                <strong>@item.ClientEntity?.ClientNo</strong>
                                @*(@item.Client)*@
                            </td>
                            @*<td>@item.ID</td>*@
                            <td>@item.Type</td>
                            <td>@item.RPM</td>
                            <td><strong>@item.Model</strong><br/><strong>@item.Serial</strong></td>
                            <td><strong>@item.Diagnostic</strong></td>
                            <td>@item.Service</td>
                            <td>@item.Parts</td>
                            <td>
                                <strong>@item.RatingParsed</strong>
                                @*(@item.Rating)*@
                            </td>
                            <td>@item.Tech (@item.TechEntity?.GetFullName())</td>
                            <td>@item.Invoiced (@item.InvoicedDate?.ToString("dd-MMM-yy"))</td>
                            <td>@item.Back (@item.BackDate?.ToString("dd-MMM-yy"))</td>
                            <td>
                                <strong>@item.JobCreatedDate?.ToString("dd-MMM-yy")</strong>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>