@using DentalDrill.CRM.Extensions
@using DevGuild.AspNetCore.Controls.HybridForms
@using Newtonsoft.Json
@model DentalDrill.CRM.Models.ViewModels.InventoryMovements.InventoryMovementGroupCancelModel
@{
    ViewBag.Title = "Cancel movements";
    this.ConfigureHybridPage("InventoryMovementsGroupCancel");
}

<div class="editor inventory-group-editor" id="InventoryMovementsGroupCancelEditor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Cancel movements</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Index" asp-controller="InventoryMovements" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }

    <form asp-action="GroupCancel" asp-route-sku="@Model.SKU.Id" asp-route-workshop="@Model.Workshop.Id" asp-route-status="@Model.Status" hybrid-form-id="InventoryMovementsGroupCancel"
          class="inventory-group-editor__form" id="InventoryMovementsGroupCancelForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-12 col-sm-6 mb-2">
                <div class="row">
                    <div class="col-12">
                        <h5 class="form-control-plaintext font-weight-bold">[@Model.SKU.Type.Name] @Model.SKU.Name</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col mb-2 grid-container">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-danger">Cancel</button>
                <a asp-action="Index" asp-controller="InventoryMovements" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function() {
            var movements = new DentalDrill.CRM.Pages.InventoryMovements.Shared.InventoryMovementBulkCollection();
            movements.direction = @Html.Raw(JsonConvert.SerializeObject((Int32)InventoryMovementDirection.Increase));
            movements.type = @Html.Raw(JsonConvert.SerializeObject((Int32)InventoryMovementType.Order));
            movements.status = @Html.Raw(JsonConvert.SerializeObject((Int32)Model.Status));
            movements.averagePrice = @Html.Raw(JsonConvert.SerializeObject(Model.SKU.AveragePrice));

            @foreach (var movement in Model.Movements)
            {
                var requiredPart = await movement.GetHandpieceRequiredPartAsync();
                var poco = new
                {
                    Id = movement.Id,
                    Direction = movement.Direction,
                    Type = movement.Type,
                    Status = movement.Status,
                    HandpieceId = requiredPart?.Handpiece?.Id,
                    HandpieceNumber = requiredPart?.Handpiece?.Number,
                    HandpieceStatus = requiredPart?.Handpiece?.Status,
                    RequiredQuantity = requiredPart != null ? await requiredPart.GetMissingQuantity() : (Decimal?)null,
                    Quantity = movement.Quantity,
                    QuantityAbsolute = movement.QuantityAbsolute,
                    AveragePrice = Model.SKU.AveragePrice,
                    Price = movement.Price,
                    CreatedOn = movement.CreatedOn,
                    CompletedOn = movement.CompletedOn,
                    PartsComment = requiredPart?.Handpiece?.PartsComment,
                    MovementComment = movement.Comment,
                };

                var json = JsonConvert.SerializeObject(poco, Formatting.None);

                <text>movements.add(@Html.Raw(json));</text>
            }

            var editorRoot = document.getElementById("InventoryMovementsGroupCancelEditor");
            var editor = new DentalDrill.CRM.Pages.InventoryMovements.GroupCancel.GroupCancelEditor(editorRoot, movements);
            editor.init();
        });
    </script>
</div>