@using DentalDrill.CRM.Extensions
@using DentalDrill.CRM.Models.Permissions
@using DevGuild.AspNetCore.Controls.HybridForms
@using Kendo.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DentalDrill.CRM.Models.ViewModels.WorkshopRoleJobTypeJobExceptions.WorkshopRoleJobTypeJobExceptionEditModel
@{
    ViewBag.Title = $"Delete workshop role {Model.Parent.JobType.Name} exception";
    this.ConfigureHybridPage("WorkshopRoleJobTypeJobExceptionsDelete");
}

<div class="editor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Delete workshop role @Model.Parent.JobType.Name exception</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Details" asp-controller="WorkshopRoleJobTypes" asp-route-id="@Model.Parent.Id" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }
    <form asp-action="Delete" asp-route-id="@Model.Original.Id" hybrid-form-id="WorkshopRoleJobTypeJobExceptionsDelete" id="WorkshopRoleJobTypeJobExceptionsDeleteForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <h5>When</h5>
                <table class="table mb-2">
                    <colgroup><col style="width: 90%" /><col style="width: 10%" /></colgroup>
                    <thead>
                    <tr>
                        <th>Job Status</th>
                        <th>Selected</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.WhenJobStatus.Count; i++)
                    {
                        var index = i;
                        <tr>
                            <td>
                                @Model.WhenJobStatus[index].Object.ToDisplayString()
                                <input asp-for="WhenJobStatus[index].Object" type="hidden"/>
                            </td>
                            <td>
                                <input asp-for="WhenJobStatus[index].Enabled" type="checkbox" disabled="disabled"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col-md-12 mb-2">
                <h5>Restrict Permissions</h5>
                <table class="table mb-2">
                    <colgroup><col style="width: 80%" /><col style="width: 10%" /><col style="width: 10%" /></colgroup>
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Read Only</th>
                        <th>Hidden</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var i = 0; i < Model.Fields.Count; i++)
                    {
                        var index = i;
                        <tr>
                            <td>
                                @Model.Fields[index].Object.ToDisplayString()
                                <input asp-for="Fields[index].Object" type="hidden"/>
                            </td>
                            <td>
                                <input asp-for="Fields[index].Write" type="checkbox" disabled="disabled"/>
                            </td>
                            <td>
                                <input asp-for="Fields[index].Read" type="checkbox" disabled="disabled"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Details" asp-controller="WorkshopRoleJobTypes" asp-route-id="@Model.Parent.Id" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>