@using DentalDrill.CRM.Models.Permissions
@using Kendo.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DentalDrill.CRM.Models.ViewModels.EmptyEmployeeIndexViewModel
@{
    ViewBag.Title = "Corporates";
}

<h1 class="header">Corporates</h1>

<kendo-grid name="CorporatesGrid" height="630" class="k-grid-commandicons2">
    <columns>
        <column field="Name" title="Name" width="150" />
        <column field="ClientsCount" title="Clients Count" width="150" />
        <column field="UserName" title="User Name" width="150" />
        <column field="UserEmail" title="User Email" width="150" />
        <column width="150">
            <commands>
                <column-command name="CustomDetails" click="DentalDrill.CRM.Pages.Corporates.Index.CorporatesGrid.handleDetails" text="@("<span class=\"fas fa-fw fa-external-link-alt\"></span>")"></column-command>
                @if (Model.Access.Global.CanWriteComponent(GlobalComponent.Corporate))
                {
                    <column-command name="CustomEdit" click="DentalDrill.CRM.Pages.Corporates.Index.CorporatesGrid.handleEdit" text="@("<span class=\"fas fa-fw fa-pencil-alt\"></span>")"></column-command>
                    <column-command name="CustomDelete" click="DentalDrill.CRM.Pages.Corporates.Index.CorporatesGrid.handleDelete" text="@("<span class=\"fas fa-fw fa-trash-alt\"></span>")"></column-command>
                }
            </commands>
        </column>
    </columns>
    <toolbar>
        @if (Model.Access.Global.CanWriteComponent(GlobalComponent.Corporate))
        {
            <toolbar-button name="CustomCreate" text="@("<span class=\"fas fa-fw fa-plus\"></span> New Corporate")"></toolbar-button>
        }
    </toolbar>
    <column-menu enabled="false" />
    <sortable enabled="true" />
    <filterable enabled="true" extra="false">
        <operators>
            <string contains="Contains" />
            <number gt="Greater than" lt="Less than" eq="Equal to" />
        </operators>
    </filterable>
    <editable enabled="false" />
    <pageable enabled="true" />
    <scrollable enabled="true" />
    <datasource type="DataSourceTagHelperType.Ajax" page-size="100">
        <transport>
            <read url="@Url.Action("Read", "Corporates")" />
        </transport>
        <schema>
            <model id="Id">
                <fields>
                    <field name="Name" />
                    <field name="ClientsCount" type="number"/>
                    <field name="UserName" />
                </fields>
            </model>
        </schema>
    </datasource>
</kendo-grid>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/corporates/index.js" asp-append-version="true"></script>
}