@using Kendo.Mvc.UI
@using DentalDrill.CRM.Extensions
@using DentalDrill.CRM.Models.Permissions
@using DentalDrill.CRM.Models.ViewModels
@using DevGuild.AspNetCore.Controls.HybridForms
@using DevGuild.AspNetCore.Services.Uploads.Images.Controllers.KendoUI
@using Kendo.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClientAppearanceEditViewModel
@{
    ViewData["Title"] = "Client Appearances";
    this.ConfigureHybridPage("ClientAppearance");
}
<div class="editor">
    @if (!Context.Request.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Client Appearance</h1>
            </div>
        </div>
    }

    <form asp-action="Appearance" asp-route-id="@Model.Client.Id" method="post" hybrid-form-id="ClientAppearance" id="EditAppearancesForm">
        @if (Model.JustUpdated)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Appearance Changed
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="fas fa-fw fa-times"></span>
                </button>
            </div>
        }

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        @if (Model.Access.CanWriteComponent(ClientEntityComponent.Appearance))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="editor__label">@Html.LabelFor(x => x.LogoId)</div>
                    <p>Image must be 40 pixels height</p>
                    <image-uploader asp-for="LogoId" configuration="AppearancesImage" preview-variation="300"></image-uploader>
                </div>
                <div class="col-md-6">
                    <div class="editor__label">@Html.LabelFor(x => x.BackgroundImageId)</div>
                    <p>Image must be at least 1280 pixels width and 600 pixels height</p>
                    <image-uploader asp-for="BackgroundImageId" configuration="AppearancesImage" preview-variation="600"></image-uploader>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="editor__label">@Html.LabelFor(x => x.LogoId)</div>
                    <p>Image must be 40 pixels height</p>
                    <div class="image-uploader">
                        <div class="image-uploader__preview">
                            <img uploaded-id="@Model.LogoId" uploaded-variation="300" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="editor__label">@Html.LabelFor(x => x.BackgroundImageId)</div>
                    <p>Image must be at least 1280 pixels width and 600 pixels height</p>
                    <div class="image-uploader">
                        <div class="image-uploader__preview">
                            <img uploaded-id="@Model.BackgroundImageId" uploaded-variation="600" />
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <div class="row editor__color-pickers">
            <div class="col-md-4">
                <div class="editor__label">
                    <label asp-for="PrimaryColor"></label>
                </div>
                <div class="editor__value color-picker-ex">
                    <div class="color-picker-ex__picker picker"></div>
                    <input type="text" asp-for="PrimaryColor" class="color-picker-ex__input form-control" style="max-width: 250px" readonly="@(!Model.Access.CanWriteComponent(ClientEntityComponent.Appearance) ? "readonly" : null)" />
                    <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor__label">
                    <label asp-for="SecondaryColor"></label>
                </div>
                <div class="editor__value color-picker-ex">
                    <div class="color-picker-ex__picker picker"></div>
                    <input type="text" asp-for="SecondaryColor" class="color-picker-ex__input form-control" style="max-width: 250px" readonly="@(!Model.Access.CanWriteComponent(ClientEntityComponent.Appearance) ? "readonly" : null)" />
                    <span asp-validation-for="SecondaryColor" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor__label">
                    <label asp-for="HeaderTextColor"></label>
                </div>
                <div class="editor__value color-picker-ex">
                    <div class="color-picker-ex__picker picker"></div>
                    <input type="text" asp-for="HeaderTextColor" class="color-picker-ex__input form-control" style="max-width: 250px" readonly="@(!Model.Access.CanWriteComponent(ClientEntityComponent.Appearance) ? "readonly" : null)" />
                    <span asp-validation-for="HeaderTextColor" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        @if (Model.Access.CanWriteComponent(ClientEntityComponent.Appearance))
        {
            <div class="row">
                <div class="col editor__submit">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        }
    </form>
</div>

<script type="text/javascript">
    $(function() {
        DentalDrill.CRM.Pages.Clients.Appearance.AppearanceEditor.initForm(document.getElementById("EditAppearancesForm"));
    });
</script>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/clients/appearance.js" asp-append-version="true"></script>
}