@using DentalDrill.CRM.Models.Permissions
@model DentalDrill.CRM.Models.ViewModels.ClientDetailsViewModel
@{
    Layout = null;
}

<div class="editor">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="row">
                <div class="col-sm-5">
                    <label>User</label>
                </div>
                @if (Model.Entity.User != null)
                {
                    <div class="col-sm-7">
                        @Model.Entity.User.UserName
                        @if (!String.IsNullOrEmpty(Model.Entity.User.Email))
                        {
                            <span>(@Model.Entity.User.Email)</span>
                        }
                        else
                        {
                            <span class="text-danger">(NO EMAIL)</span>
                        }
                        @if (Model.Access.CanWriteComponent(ClientEntityComponent.Access))
                        {
                            <br />
                            <a class="btn btn-sm btn-secondary" asp-action="ManageUser" asp-controller="ClientAccess" asp-route-id="@Model.Id">Manage</a>
                            <a class="btn btn-sm btn-secondary" asp-action="DeleteUser" asp-controller="ClientAccess" asp-route-id="@Model.Id">Delete</a>
                        }
                    </div>
                }
                else
                {
                    <div class="col-sm-7">
                        @if (Model.Access.CanWriteComponent(ClientEntityComponent.Access))
                        {
                            <a class="btn btn-sm btn-secondary" asp-action="CreateUser" asp-controller="ClientAccess" asp-route-id="@Model.Id">Create</a>
                        }
                    </div>
                }
            </div>
        </div>
        
        <div class="col-12 mb-2">
            <div class="row">
                <div class="col-sm-5">
                    <label>Page Url</label>
                </div>
                <div class="col-sm-7">
                    @{
                        var urlPrefix = $"{Context.Request.Scheme}://{Context.Request.Host}/Surgeries/";
                        <a href="@(urlPrefix + Model.Entity.UrlPath)">@urlPrefix<strong>@Model.Entity.UrlPath</strong></a>
                    }
                    @if (Model.Access.CanWriteComponent(ClientEntityComponent.Access))
                    {
                        <br />
                        <a class="btn btn-sm btn-secondary" asp-action="ConfigurePageUrl" asp-controller="ClientAccess" asp-route-id="@Model.Id">Configure</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>