@using DevGuild.AspNetCore.Controls.HybridForms
@using DentalDrill.CRM.Extensions
@model HandpieceStoreListing
@{
    ViewBag.Title = "Delete listing";
    this.ConfigureHybridPage("HandpieceModelListingDelete");
}

<div class="editor">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Delete listing</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Details" asp-route-id="@Model.Model.Id" asp-controller="HandpieceModels" asp-route-Tab="Listings" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }
    
    @if (Model.Status != HandpieceStoreListingStatus.Listed && Model.Status != HandpieceStoreListingStatus.Unlisted)
    {
        <div class="alert alert-danger">
            @Model.Status listing cannot be deleted
        </div>
    }

    <form asp-action="Delete" asp-route-id="@Model.Id" hybrid-form-id="HandpieceModelListingDelete" id="HandpieceModelListingDeleteForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-6">
                <div class="image-uploader-multiple image-uploader-multiple--size-8">
                    <div class="image-uploader-multiple__previews">
                        @foreach (var image in Model.Images.OrderBy(x => x.OrderNo))
                        {
                            <div class="image-uploader-multiple__previews__preview" data-id="@image">
                                <img uploaded-id="@image.ImageId" uploaded-variation="160" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="SerialNumber"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="SerialNumber" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="SerialNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Price"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="Price" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Warranty"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="Warranty" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="Warranty" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Notes"></label>
                            </div>
                            <div class="col-7">
                                <textarea asp-for="Notes" readonly="readonly" class="k-textbox w-100"></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="Coupling"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="Coupling" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="Coupling" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="CosmeticCondition"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="CosmeticCondition" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="CosmeticCondition" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="FiberOpticBrightness"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="FiberOpticBrightness" readonly="readonly" class="k-textbox w-100" />
                                <span asp-validation-for="FiberOpticBrightness" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col editor__submit">
                @if (Model.Status != HandpieceStoreListingStatus.Listed && Model.Status != HandpieceStoreListingStatus.Unlisted)
                {
                    <button type="submit" class="btn btn-danger" disabled="disabled">Delete</button>
                }
                else
                {
                    <button type="submit" class="btn btn-danger">Delete</button>
                }

                <a asp-action="Details" asp-route-id="@Model.Model.Id" asp-controller="HandpieceModels" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>