@using DevGuild.AspNetCore.Controls.HybridForms
@using DentalDrill.CRM.Extensions
@model DentalDrill.CRM.Models.ViewModels.Inventory.InventorySKUCreateModel
@{
    ViewBag.Title = "Add SKU";
    this.ConfigureHybridPage("InventoryCreate");
    var uniqueId = Guid.NewGuid().ToString("N");
}

<div class="editor" id="InventoryCreateEditor_@uniqueId">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="editor__header">
            <div class="editor__title">
                <h1>Add SKU</h1>
            </div>
            <div class="editor__actions">
                <a asp-action="Index" asp-controller="Inventory" class="editor__action"><span class="fas fa-list"></span> List</a>
            </div>
        </div>
    }

    <form asp-action="Create" asp-route-parentId="@Model.Type.Id" asp-route-hierarchyParentId="@Model.Parent?.Id" hybrid-form-id="InventoryCreate" id="InventoryCreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-12 col-sm-9">
                        <input asp-for="Name" class="k-textbox" placeholder="Enter Name of the SKU" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-sm-3 mt-sm-1">
                        @(Html.Kendo().CheckBoxFor(x => x.IsGroupNode))
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="InitialShelfQuantity"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="InitialShelfQuantity" class="k-textbox" placeholder="Enter QTY" />
                        <span asp-validation-for="InitialShelfQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="InitialOrderedQuantity"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="InitialOrderedQuantity" class="k-textbox" placeholder="Enter QTY" />
                        <span asp-validation-for="InitialOrderedQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="InitialRequestedQuantity"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="InitialRequestedQuantity" class="k-textbox" placeholder="Enter QTY" />
                        <span asp-validation-for="InitialRequestedQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            @for (var i = 0; i < Model.WorkshopOptions.Count; i++)
            {
                <div class="col-12 col-sm-4 mb-2">
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="WorkshopOptions[i].WarningQuantity">Warning QTY (@Model.WorkshopOptions[i].Workshop.Name)</label>
                            <input asp-for="WorkshopOptions[i].WorkshopId" type="hidden" />
                        </div>
                        <div class="col-12">
                            <input asp-for="WorkshopOptions[i].WarningQuantity" class="k-textbox" placeholder="Enter QTY for Warning status (@Model.WorkshopOptions[i].Workshop.Name)" />
                            <span asp-validation-for="WorkshopOptions[i].WarningQuantity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }

            <div class="col-12 col-sm-4 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="AveragePrice"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="AveragePrice" class="k-textbox" placeholder="Enter Average Price in AUD" />
                        <span asp-validation-for="AveragePrice" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-2">
                <div class="row">
                    <div class="col-12">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-12">
                        <textarea asp-for="Description" class="k-textbox" placeholder="Comment or note for the SKU - might be a description for the SKU (IDs, order URIs, etc)"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 editor__submit">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" asp-controller="Inventory" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function() {
            var editor = new DentalDrill.CRM.Pages.Inventory.Create.InventoryCreateEditor(document.getElementById("InventoryCreateEditor_@uniqueId"));
            editor.init();
        });
    </script>
</div>

@section Scripts
{
    <script type="text/javascript" src="/js/app/pages/inventory/create.js" asp-append-version="true"></script>
}
