@using DevGuild.AspNetCore.Controls.HybridForms
@model DentalDrill.CRM.Models.ViewModels.FeedbackForms.FeedbackFormDetailsModel
@{
    ViewBag.Title = "Feedback";
    this.ConfigureHybridPage("FeedbackFormsDetails");
}

<div class="feedback-wrapper">
    <div class="feedback-form">
        <div class="feedback-form__title">
            <img class="feedback-form__title__logo" src="/img/dds-logo.jpg" alt="Dental Drill Solutions" />
            <h1 class="feedback-form__title__heading">We value your feedback</h1>
        </div>

        <div class="feedback-form__greeting">
            We would like your feedback to improve our service
        </div>
        <div class="feedback-form__offer">
            As a Thank You for your recent custom and feedback we will apply a further <span class="feedback-form__offer__highlight">5%&nbsp;Discount&nbsp;Off</span> your next handpiece repair bill!<sup class="feedback-form__offer__highlight">*</sup>
        </div>

        <div class="feedback-form__questions">
            @foreach (var answer in Model.Form.Answers.OrderBy(x => x.Question.OrderNo))
            {
                var modifierClass = $"feedback-form__question--{answer.Question.Type.ToString().ToLowerInvariant()}";
                <div class="feedback-form__question @modifierClass">
                    <div class="feedback-form__question__text">
                        @answer.Question.Name
                    </div>
                    <div class="feedback-form__question__answer">
                        @switch (answer.Question.Type)
                        {
                            case FeedbackFormQuestionType.Rating:
                                var ratingValue = answer.IntegerAnswer;
                                <div>
                                    <label for="Answer_@answer.QuestionId.ToString("N")_1" class="feedback-form__rating">
                                        <input type="radio" class="feedback-form__rating__input" disabled="disabled" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")_1" value="1" checked="@(ratingValue == 1 ? "checked" : null)" />
                                        <span class="far fa-angry feedback-form__rating__image"></span>
                                    </label>
                                    <label for="Answer_@answer.QuestionId.ToString("N")_2" class="feedback-form__rating">
                                        <input type="radio" class="feedback-form__rating__input" disabled="disabled" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")_2" value="2" checked="@(ratingValue == 2 ? "checked" : null)" />
                                        <span class="far fa-frown feedback-form__rating__image"></span>
                                    </label>
                                    <label for="Answer_@answer.QuestionId.ToString("N")_3" class="feedback-form__rating">
                                        <input type="radio" class="feedback-form__rating__input" disabled="disabled" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")_3" value="3" checked="@(ratingValue == 3 ? "checked" : null)" />
                                        <span class="far fa-meh feedback-form__rating__image"></span>
                                    </label>
                                    <label for="Answer_@answer.QuestionId.ToString("N")_4" class="feedback-form__rating">
                                        <input type="radio" class="feedback-form__rating__input" disabled="disabled" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")_4" value="4" checked="@(ratingValue == 4 ? "checked" : null)" />
                                        <span class="far fa-smile feedback-form__rating__image"></span>
                                    </label>
                                    <label for="Answer_@answer.QuestionId.ToString("N")_5" class="feedback-form__rating">
                                        <input type="radio" class="feedback-form__rating__input" disabled="disabled" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")_5" value="5" checked="@(ratingValue == 5 ? "checked" : null)" />
                                        <span class="far fa-grin feedback-form__rating__image"></span>
                                    </label>
                                </div>
                                break;
                            case FeedbackFormQuestionType.MultilineText:
                                var multilineTextValue = answer.StringAnswer;
                                <textarea class="form-control" readonly="readonly" name="Answer[@answer.QuestionId].Value" id="Answer_@answer.QuestionId.ToString("N")">@multilineTextValue</textarea>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    </div>
                </div>
            }
        </div>

        <div class="feedback-form__discount-note">
            *Discount is not applicable to new parts service/sales
        </div>

        <div class="text-center">
            @if (Model.Form.Status == FeedbackFormStatus.New)
            {
                <a asp-action="Form" asp-controller="Feedback" asp-route-id="@Model.Form.Id" class="btn btn-outline-secondary ml-2" target="_blank">Open Form</a>
            }

            <a asp-action="Index" asp-controller="FeedbackForms" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Close</a>
        </div>
    </div>
</div>
