@using DentalDrill.CRM.Models.ViewModels
@using DevGuild.AspNetCore.Controls.HybridForms
@model HandpieceImageEditViewModel
@{
    ViewBag.Title = $"Attach image";

    this.ConfigureHybridPage("CreateImage");
}

<div class="editor">

    <form asp-action="Create" asp-route-parentId="@Model.ParentId" method="post" hybrid-form-id="CreateImage" id="CreateImageForm">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        <div class="row">
            <div class="col">
                <image-uploader asp-for="ImageId" configuration="HandpieceImage" preview-variation="400" ></image-uploader>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                
                @Html.LabelFor(x => x.Description)

                @Html.TextAreaFor(x => x.Description, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(x => x.Description)
                
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.LabelFor(x => x.Display)
                @Html.CheckBoxFor(x => x.Display)
                @Html.ValidationMessageFor(x => x.Display)
            </div>

            <div class="col editor__submit">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {

}