@using DentalDrill.CRM.Extensions
@using DevGuild.AspNetCore.Controls.HybridForms
@model JobInvoice
@{
    ViewBag.Title = "Delete Invoice";
    this.ConfigureHybridPage("JobInvoicesDelete");
}

<div class="details mb-2">
    @if (!this.Context.IsAjaxRequest())
    {
        <div class="details__header">
            <div class="details__title">
                <h2>Delete invoice @Model.Job.JobNumber-@Model.InvoiceNumber?</h2>
            </div>
            <div class="details__actions">
                <a class="details__action" asp-action="Details" asp-controller="Jobs" asp-route-id="@Model.JobId" asp-route-Tab="Invoices"><span class="fa fa-list"></span> List</a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12 mt-3">
            <div class="row details__field">
                <div class="details__label">Created On</div>
                <div class="details__value">@Model.CreatedOn.ToString("f")</div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row details__field">
                <div class="details__label">File</div>
                <div class="details__value">@Model.File.OriginalName</div>
            </div>
        </div>
    </div>

    <form asp-action="Delete" asp-route-id="@Model.Id" hybrid-form-id="JobInvoicesDelete">
        <div class="row ">
            <div class="col editor__submit">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Details" asp-controller="Jobs" asp-route-Id="@Model.JobId" asp-route-Tab="Invoices" class="btn btn-outline-secondary ml-2 editor__submit__cancel">Cancel</a>
            </div>
        </div>
    </form>
</div>